<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="defaultKeyGenerator" class="co.b4pay.admin.common.core.cache.DefaultKeyGenerator"/>
    <cache:annotation-driven key-generator="defaultKeyGenerator" cache-manager="cacheManager"/>

    <context:component-scan base-package="co.b4pay.admin,co.b4pay.admin.common">
        <context:include-filter type="annotation" expression="org.springframework.cache.annotation.Caching"/>
        <context:include-filter type="annotation" expression="org.springframework.cache.annotation.Cacheable"/>
        <context:include-filter type="annotation" expression="org.springframework.cache.annotation.CachePut"/>
        <context:include-filter type="annotation" expression="org.springframework.cache.annotation.CacheEvict"/>
    </context:component-scan>

    <!--ehcache-->
    <bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
          p:configLocation="classpath:ehcache/ehcache.xml"/>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
          p:cacheManager-ref="ehcacheManager"/>
</beans>